<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="restservice.infrastructure.datasource.weight.WeightMapper">

    <resultMap id="WeightHistoryDataList" type="restservice.infrastructure.datasource.weight.WeightData">
        <result property="id" column="id"/>
        <result property="measured_value" column="measured_value"/>
        <result property="measured_date_time" column="measured_date_time"/>
    </resultMap>

    <select id="selectWeightHistoryData" resultMap="WeightHistoryDataList">
        SELECT
            id
            ,measured_value
            ,measured_date_time
        FROM
            weight_history
        ORDER BY
            measured_date_time DESC;
    </select>

</mapper>